<% provide(:title, "#{current_user.username.possessive} Projects") %>
<div class="container pt-3">
  <% if current_user.projects.empty? %>
    <div class="jumbotron">
      <h1 class="display-3">Hi, <%= current_user.username %></h1>
      <p class="lead">Welcome to BDA Explorer</p>
      <hr class="my-4"/>
      <p>To get started create a new project.</p>
      <p class="lead">
        <%= link_to 'New Project', new_project_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  <% else %>
    <h2><%= current_user.username.possessive %> Projects</h2>
    <% current_user.projects.each do |project| %>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <%= image_tag project.photo.url(:default), alt: "Project on #{project.stream_name}", class: 'rounded', width: 100 %>
        </div>
        <div class="col-sm-6">
          <h3><%= link_to project.project_name, project, class: "text-dark" %></h3>
          <h5><%= link_to project.affiliation, project, class: "text-secondary" %></h5>
        </div>
        <div class="col-sm-3">
          <h5 ><%= link_to project.watershed, project, class: "text-dark" %></h5>
          <h5><%= link_to project.stream_name, project, class: "text-secondary" %></h5>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
