- provide(:title, 'Forgot Password')
.container
  .row
    .col-md-3
    .col-md-6
      %h2 Forgot your password?
      %hr/
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        = f.label :username
        = f.text_field :username, autofocus: true
        .actions
          = f.submit "Send me reset password instructions", class: 'btn confirm-btn-wide'
      = render "devise/shared/links"
