<hr>
<div class="row align-items-center h-100">
<%= image_tag(affiliation.icon, class: 'affiliation-icon-list') if affiliation.icon.attached? %>
  <div class="col-sm-7">
    <h3><%= link_to affiliation.affiliation_name, affiliation, class: "text-dark" %></h3>
    <h5 class="text-secondary"><%= affiliation.description %></h5>
  </div>
  <div class="col-sm-3 ml-auto">
    <h5><%= affiliation.contact %></h5>
    <% html_url = affiliation.website.gsub(URI.regexp, '<a href="\0">\0</a>').html_safe if affiliation.website%>
    <% html_url = "" if !affiliation.website%>
    <h5 class="text-secondary"><%= html_url%></h5>
  </div>
  <br>
  <div class="col-sm-3">
    <%= link_to 'Edit', edit_affiliation_path(affiliation), class: "btn btn-success", id: "filter-button" %>
    <%= link_to 'Destroy', affiliation, class: "btn btn-success", id: "filter-button", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
</div>