<hr>
<div class="row">
  <div class="col-sm-7">
  <%= image_tag(affiliation.icon) if affiliation.icon.attached? %>
    <h3><%= affiliation.affiliation_name %></h3>
    <h5 class="text-secondary"><%= affiliation.description %></h5>
  </div>
  <div class="col-sm-3">
    <h5><%= affiliation.contact %></h5>
    <h5 class="text-secondary"><%= affiliation.website%></h5>
  </div>
  <div class="col-sm-3">
    <%= link_to 'Show', affiliation, class: "btn btn-success", id: "filter-button" %>
    <%= link_to 'Edit', edit_affiliation_path(affiliation), class: "btn btn-success", id: "filter-button" %>
    <%= link_to 'Destroy', affiliation, class: "btn btn-success", id: "filter-button", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
</div>