<%= form_for @affiliation do |f| %>

<%= f.label :name, 'Affiliation Name' %>
<%= f.text_field :affiliation_name, autofocus: true, autocomplete: 'off', placeholder: 'e.g. NOAA', class: 'form-control' %>

<%= f.label :name, 'Affiliation Description' %>
<%= f.text_field :description, autofocus: true, autocomplete: 'off', placeholder: 'e.g. Description Here', class: 'form-control' %>

<%= f.label :name, 'Affiliation Contact' %>
<%= f.text_field :contact, autofocus: true, autocomplete: 'off', placeholder: 'e.g. Contact Here', class: 'form-control' %>

<%= f.label :name, 'Affiliation Website' %>
<%= f.text_field :website, autofocus: true, autocomplete: 'off', placeholder: 'e.g. Website Here', class: 'form-control' %>

<%= f.label :name, 'Affiliation Image' %>
<%= f.file_field :icon, autofocus: true, autocomplete: 'off', placeholder: 'e.g. Image Icon', class: 'form-control' %>

  <% if @affiliation.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@affiliation.errors.count, "error")} prohibited this affiliation from being saved:" %>
      </h2>
      <ul>
        <% @affiliation.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>
