<%= form_for [@project, @affiliation] do |f| %>

<%= f.label :name, 'Organization Name' %>
<%= f.select :organization_id,
  Organization.order(:name).map { |u| [u.name, u.id] },
    { include_blank: true},
    { class: 'chosen-select'}
  %>

<%= f.label :role, 'Organization\'s role in Project' %>
<%= f.text_field :role, autofocus: true, autocomplete: 'off', placeholder: 'e.g. Founder, Donor', class: 'form-control' %>

<%= f.hidden_field :project_id, value: @project.id%>

  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>