<div class="container pt-3">
<h1>Listing affiliations</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @affiliations.each do |affiliation| %>
      <tr>
        <td><%= affiliation.organization.name %></td>
        <td><%= affiliation.project.name %></td>
        <td><%= affiliation.role %></td>
        <td><%= @project.name%>
        <td>
          <%= link_to 'Show Project', [@project] %>
        </td>
        <td>
          <%= link_to 'Edit Affiliation', edit_project_affiliation_path(@project, affiliation) %>
        </td>
        <td>
          <%= link_to 'Destroy', [@project, affiliation], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Affiliation', new_project_affiliation_path %>
</div>




