<div class="container pt-3">
<h1>Listing Organization Affiliations for <%= @project.name %></h1>
<%= link_to 'Return to Project', [@project], class: 'btn confirm-btn' %>
<hr>
<%= render :partial => 'form', locals: {buttontext: 'Add Organization', dropdownclass: 'selectoptions'}%>
<hr>
 <div id="activity_form"></div> 
  <% @affiliations.each do |affiliation| %>
    <div class="row justify-content-between">
      <div class="col col-8">
        <%= render affiliation %>
      </div>
      <div class="col col-md-2" id="affiliations-index-buttons">
        <%= link_to 'Edit', edit_project_affiliation_path(@project, affiliation), class: 'btn btn-primary', :remote => true%>
        <%= link_to 'Destroy', [@project, affiliation], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary' %>
      </div>
    </div>
    <br>
  <% end %>
<br/>
<%#= link_to 'New Affiliation', new_project_affiliation_path %>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    $(".selectoptions").select2();
</script>




