
<% provide(:title, @affiliation.affiliation_name) %>
<div class="container pt-5">
  <div class="col text-right">
    <%= link_to 'Affiliations List', affiliations_path, class: "btn btn-success", id: "filter-button" %>
  </div>
  <div class="d-flex align-items-center wrap h-100">
    <%= image_tag(@affiliation.icon, class: 'affiliation-icon-list') if @affiliation.icon.attached? %>
    <h1 class="display-4"><%= @affiliation.affiliation_name %></h1>
  </div>
  <br>
  <div class="row">
    <div class="col-md-5">
      <label>Affiliation Contact:</label>
      <p class="h5 mb-3"><%= @affiliation.contact%></p>
      <hr>

      <label>Affiliation Website:</label>
      <% url = @affiliation.website%>
      <% html_url = url.gsub(URI.regexp, '<a href="\0">\0</a>').html_safe if url%>
      <% html_url = "No link provided" if !url%>
      <em><p class="h5 mb-3"><%= html_url %></p></em>
      <hr>
      
    </div>
  </div>

  <h5>Affiliation Description</h5>
  <p><%= @affiliation.description %></p>