= form_for(@project, html: {multipart: true}) do |f|
  = form_errors_for(@project)
  = f.label :affiliation
  = f.text_field :affiliation, autofocus: true, autocomplete: 'off'
  = f.label :stream_name, 'Stream name'
  = f.text_field :stream_name, autocomplete: 'off'
  = f.label :implementation_date
  = f.date_field :implementation_date, autocomplete: 'off'
  = f.label :latitude
  = f.text_field :latitude, autocomplete: 'off', placeholder: 'e.g. 44.103436'
  = f.label :longitude
  = f.text_field :longitude, autocomplete: 'off', placeholder: 'e.g. -121.769211'
  = f.label :narrative
  %div{class: 'btn btn-question', id: 'narrative-help'}
    = image_tag 'question.png'
  = f.text_area :narrative, autocomplete: 'off'
  = f.label :area, 'Treatment length (meters)'
  = f.text_field :area, autocomplete: 'off'
  = f.label :maintenance, 'Maintenance?'
  = f.check_box :maintenance
  = f.label :primary_contact
  = f.text_field :primary_contact, autocomplete: 'off'
  = f.label :photo
  = f.file_field :photo, class: 'custom-file-control'
  .actions
    = f.submit class: 'btn confirm-btn'

#narrative-model.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title Narrative
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        The narrative describes the project objectives and elements of BDA construction and design.
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close


