<%= form_for(@project, html: {multipart: true}) do |f| %>

<%= form_errors_for(@project) %>
<div class="row">
  <div class="col-md">
    <!-- PROJECT NAME -->
    <%= f.label :name, 'Project Name' %>
    <div class="btn btn-question" id="name-help">
      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    </div>
    <%= f.text_field :name, autofocus: true, autocomplete: 'off', placeholder: 'e.g. Bridge Creek Incision Recovery', class: 'form-control' %>
  </div>
    <div class="col-md">
    <!-- PRIMARY CONTACT -->
    <%= f.label :primary_contact, 'Primary Contact Name' %>
    <div class="btn btn-question" id="primary_contact-help">
      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    </div>
    <%= f.text_field :primary_contact, autofocus: true, autocomplete: 'off', placeholder: 'e.g. Jane Doe', class: 'form-control' %>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <!-- URL -->
    <%= f.label :url, 'Project URL' %>
    <div class="btn btn-question" id="url-help">
      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    </div>
    <%= f.text_field :url, autofocus: true, autocomplete: 'off', placeholder: 'e.g. https://www.anabranchsolutions.com/beaver-dam-analogs.html', class: 'form-control' %>
  </div>
  <div class="col-md">
    <!-- PROJECT AFFILIATION -->
    <%= f.label :organization, 'Affiliated Project Organization(s)' %>
    <div class="btn btn-question" id="manage-affiliations-help">
      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    </div>
    <div class = "selectWrapper">
    <%= f.select :organization_ids,
    @organizations.order(:name).map { |u| [u.name, u.id] },
               { include_blank: true, multiple: true},
               { class: 'chosen-select', multiple: true }
    %>
    <hr>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md">
    <!-- STREAM NAME -->
    <%= f.label :stream_name, 'Stream Name' %>
    <div class="btn btn-question" id="stream_name-help">
      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    </div>
    <%= f.text_field :stream_name, autofocus: true, autocomplete: 'off', placeholder: 'Bear Creek', class: 'form-control' %>
  </div>
  <div class="col-md">
    <!-- WATERSHED -->
    <%= f.label :watershed, 'Project Watershed' %>
    <div class="btn btn-question" id="watershed-help">
      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    </div>
    <%= f.text_field :watershed, autofocus: true, autocomplete: 'off', placeholder: 'e.g. John Day', class: 'form-control' %>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <!-- LATITUDE -->
    <%= f.label :latitude %>
    <div class="btn btn-question" id="latitude-help">
      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    </div>
    <%= f.text_field :latitude, autocomplete: 'off', placeholder: 'e.g. 44.103436', class: 'form-control' %>
  </div>
  <div class="col-md">
    <!-- LONGITUDE -->
    <%= f.label :longitude %>
    <div class="btn btn-question" id="longitude-help">
      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    </div>
    <%= f.text_field :longitude, autocomplete: 'off', placeholder: 'e.g. -121.769211', class: 'form-control' %>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <%# Sends the peak of Three Sisters as default coordinates if @project.lonlat is nil %>
    <div 
      data-latitude="<%=@project.lonlat ? @project.lonlat.y : 44.103436 %>" 
      data-longitude="<%=@project.lonlat ? @project.lonlat.x : -121.769211 %>" 
      id="form-map" 
      class="rounded border border-secondary"
    >
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <!-- STRUCTURES -->
    <%= f.label :number_of_structures, 'Total LT-PBR Structures' %>
    <div class="btn btn-question" id="number_of_structures-help">
      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    </div>
    <%= f.text_field :number_of_structures, autocomplete: 'off', placeholder: 'e.g. 50', class: 'form-control' %>
  </div>
  <div class="col-md">
    <!-- TREATMENT LENGTH -->
    <%= f.label :length, 'Treatment Length (meters)' %>
    <div class="btn btn-question" id="treatment_length-help">
      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    </div>
    <%= f.text_field :length, autocomplete: 'off', placeholder: 'e.g. 500', class: 'form-control' %>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <!-- IMPLEMENTATION DATE -->
    <%= f.label :implementation_date, 'Implementation Date' %>
    <div class="btn btn-question" id="implementation_date-help">
      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    </div>
    <%= f.date_field :implementation_date, class: 'form-control' %>
  </div>
</div>
<!-- NARRATIVE -->
<%= f.label :narrative, 'Project Restoration Goals' %>
<div class="btn btn-question" id="narrative-help">
  <i class="fa fa-question-circle-o" aria-hidden="true"></i>
</div>
<%= f.text_area :narrative, autocomplete: 'off', placeholder: 'Restoration goals for the project. e.g. Expansion of riparian vegetation.', class: 'form-control', rows: 5 %>

<!-- STRUCTURE CONSTRUCTION -->
<%= f.label :structure_description, 'Structure Construction Elements' %>
<div class="btn btn-question" id="structure_description-help">
  <i class="fa fa-question-circle-o" aria-hidden="true"></i>
</div>
<%= f.text_area :structure_description, autocomplete: 'off', placeholder: 'Briefly describe LT-PBR design and/or construction elements.', class: 'form-control', rows: 5 %>

<!-- PROJECT IMAGES -->
<%= f.label :photos, 'Project Photos' %>
<div class="btn btn-question" id="photo-help">
  <i class="fa fa-question-circle-o" aria-hidden="true"></i>
</div>
<%= f.file_field :photos, multiple: true, accept: 'image/*', class: 'custom-file-control form-control' %>

<!-- DELETE EXISTING PHOTOS -->
<% if @project.photos.attached? %>
  <span id="cover-photo-info">
    <label>Select Existing Photo as Cover Photo</label>
    <div class="btn btn-question" id="cover-photo-help">
      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    </div>
  </span>

  <span id="delete-photos-info">
    <label>Select Existing Photos To Delete</label>
    <div class="btn btn-question" id="delete-photos-help">
      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    </div>
  </span>

  <div class="custom-switch custom-control">
    <input type="checkbox" class="custom-control-input" id="delete-toggle">
    <label class="custom-control-label" for="delete-toggle">Photo Deletion Mode</label>
  </div>
  <div class="container">
    <div class="row">
      <% @project.photos.each do |photo| %>
        <div class="col-3">
          <label class="image-select rounded">
            <%= image_tag photo, alt: "Project on #{@project.stream_name}", class: 'img-fluid shadow' %>
            <%= check_box_tag "delete_photo_ids[]", photo.id %>
            <%= radio_button_tag :cover_photo_id, photo.id %>
            <i class="fa fa-trash delete-icon bg-dark shadow rounded"></i>
            <i class="fa fa-image cover-icon bg-dark shadow rounded"></i>
          </label>
        </div>
      <% end %>
    </div>
  </div>

  <script>
    const updatePhotoSelectionOverlays = () => {
      $(".image-select").each(function () {
        // Update image overlays to show photo selected to be the cover
        if($(this).find('input[type="radio"]').is(":checked")) {
          $(this).addClass('image-select-cover-checked');
        } else {
          $(this).removeClass('image-select-cover-checked');
        }

        // Update image overlays to show photo selected to be deleted
        if ($(this).find('input[type="checkbox"]').is(":checked")) {
          $(this).addClass('image-select-delete-checked');
        } else {
          $(this).removeClass('image-select-delete-checked');
        }
      });
    }

    // Initialize state
    // Activate checkbox for existing cover photo
    $('input[type="radio"]').each(function () {
      if($(this).val() == gon.cover_photo_id) {
        $(this).prop("checked", true);
      }
    });
    updatePhotoSelectionOverlays();

    // State of the deleting toggle
    if($("#delete-toggle").prop('checked')) {
      $("#delete-photos-info").show();
      $("#cover-photo-info").hide();
    } else {
      $("#delete-photos-info").hide();
      $("#cover-photo-info").show();
    }

    // Sync state when deleting is toggled
    $("#delete-toggle").on("click", function (e) {
      $("#delete-photos-info").toggle();
      $("#cover-photo-info").toggle();
    });

    // Sync state when image is clicked
    $(".image-select").on("click", function (e) {
      // Radio button for selecting cover
      const $coverButton = $(this).find('input[type="radio"]');
      // Checkbox for deleting photos
      const $deleteCheckbox = $(this).find('input[type="checkbox"]');

      if ($("#delete-toggle").prop('checked')) {
        // Sync state for deleting photos
        $deleteCheckbox.prop("checked", !$deleteCheckbox.prop("checked"));
        // If deleting, cannot be a cover photo
        $coverButton.prop("checked", false);
      } 
      // Don't select a photo chosen to be deleted as a cover
      else if (!$deleteCheckbox.is(":checked")) {
        // Sync state for choosing a cover photo
        $coverButton.prop("checked", !$coverButton.prop("checked"));
      }

      updatePhotoSelectionOverlays();

      e.preventDefault();
    });
  </script>
<% end %>

<div class="actions">
  <%= f.submit class: 'btn confirm-btn' %>
</div>

<% end %>

<!-- MODAL INFORMATION -->

  <%=render :partial => 'form_help_modal', locals: {
    id: 'name-modal',
    title: 'Project Name',
    body: 'Just a simple name for the project e.g:',
    body_2: '"Bear Creek Surface Flow Enhancement", or',
    body_3: '"Bridge Creek Riparian Uplift"'
  }%>

  <%=render :partial => 'form_help_modal', locals: {
    id: 'photo-modal',
    title: 'Project Photos',
    body: 'Upload at least one representative photo of the project area, channel, or structures.',
    body_2: 'Each of the photos must be below 50 MB in size and be in the JPEG, PNG, GIF, BMP, AVIF, or WebP format.',
    body_3: 'There is a limit of 20 photos.'
  }%>

  <%=render :partial => 'form_help_modal', locals: {
    id: 'stream_name-modal',
    title: 'Stream Name',
    body: 'Name of the project stream. e.g. Bridge Creek.'
  }%>

  <%=render :partial => 'form_help_modal', locals: {
    id: 'watershed-modal',
    title: 'Watershed Name',
    body: 'Project watershed or sub-watershed. e.g. "John Day"'
  }%>

  <%=render :partial => 'form_help_modal', locals: {
    id: 'url-modal',
    title: 'Project URL',
    body: 'Outside link to existing project. e.g. "https://www.anabranchsolutions.com/beaver-dam-analogs.html"'
  }%>

  <%=render :partial => 'form_help_modal', locals: {
    id: 'manage-affiliations-modal',
    title: 'Organizations',
    body: 'Add or remove affiliated organizations for this project.',
    body_2: 'Roles can be applied to each organization, e.g. "Founder", after Project creation on project page through "Manage Affiliations".'
  }%>

  <%=render :partial => 'form_help_modal', locals: {
    id: 'affiliation-modal',
    title: 'Affiliated Organizations',
    body: 'Organizations involved with project design and implementation. Organizations\' role can be modified in subsequent Affiliations form
           page found on Project page after submission.'
  }%>

  <%=render :partial => 'form_help_modal', locals: {
    id: 'implementation_date-modal',
    title: 'Implementation date',
    body: 'Approximate date of initial structure installation.'
  }%>

  <%=render :partial => 'form_help_modal', locals: {
    id: 'latitude-modal',
    title: 'Latitude',
    body: 'Approximate project LATITUDE in decimal degrees (e.g., 44.23454).'
  }%>

  <%=render :partial => 'form_help_modal', locals: {
    id: 'longitude-modal',
    title: 'Longitude',
    body: 'Approximate project LONGITUDE in decimal degrees (e.g., -122.3456).'
  }%>

  <%=render :partial => 'form_help_modal', locals: {
    id: 'number_of_structures-modal',
    title: 'Number of Structures',
    body: 'Approximate number of structures currently installed or that will be installed in the future.'
  }%>

  <%=render :partial => 'form_help_modal', locals: {
    id: 'treatment_length-modal',
    title: 'Treatment length',
    body: 'Approximate length of stream being treated with LT-PBR structures in meters.'
  }%>

  <%=render :partial => 'form_help_modal', locals: {
    id: 'narrative-modal',
    title: 'Narrative',
    body: 'Briefly describe restoration goals for the project which may include increased fish habitat, riparian expansion, channel aggradation, etc...'
  }%>

  <%=render :partial => 'form_help_modal', locals: {
    id: 'primary_contact-modal',
    title: 'Primary Contact',
    body: 'Primary contact name for project manager or coordinator. e.g. John Doe'
  }%>

  <%=render :partial => 'form_help_modal', locals: {
    id: 'structure_description-modal',
    title: 'Structure Design Elements',
    body: 'Briefly describe LT-PBR structure design and/or construction elements. e.g., Structures were primarily BDAs, and generally built at a low elevation of 0.25 m. Majority of the structures utilized two post rows and juniper and sagebrush as fill material.'
  }%>

  <%=render :partial => 'form_help_modal', locals: {
    id: 'cover-photo-modal',
    title: 'Cover Photo',
    body: 'Select an existing photo to be the cover photo for this project.',
    body_2: 'This photo will be used as the thumbnail in the projects list and projects map.'
  }%>

  <%=render :partial => 'form_help_modal', locals: {
    id: 'delete-photos-modal',
    title: 'Photo Deletion',
    body: 'Select existing photos to delete from this project.',
    body_2: 'Multiple photos can be selected for deletion.'
  }%>
