<div aria-hidden='true' class='modal fade' id='<%=id%>' role='dialog' tabindex='-1'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'><%=title%></h5>
        <button aria-label='Close' class='close' data-dismiss='modal' type='button'>
          <span aria-hidden='true'>×</span>
        </button>
      </div>
      <div class='modal-body'>
        <p><%=body%></p>
        <p><%=body_2 if local_assigns[:body_2]%></p>
        <p><%=body_3 if local_assigns[:body_3]%></p>
      </div>
      <div class='modal-footer'>
        <button class='btn btn-secondary' data-dismiss='modal' type='button'>Close</button>
      </div>
    </div>
  </div>
</div>