<hr>
<div class="row">
  <div class="col-md-12">
    <h3 class="mb-n1"><%= link_to project.name, project, class: "text-dark" %></h3>
  </div>
  <div class="col-md-12">
    <h6 class="mt-1"><%= link_to project.stream_name, project, class: "text-dark" %>, <%= link_to project.watershed, project, class: "text-secondary" %></h6>
  </div>
  <div class="col-md-2">
    <% if project.photos.any? %>
      <%= image_tag project.cover_photo, alt: "Project on #{project.stream_name}", class: 'rounded', width: 200 %>
    <% else %>
      <%= image_tag project.cover_photo, alt: "Project on #{project.stream_name}", class: 'rounded', id: 'project-list-missing-img', width: 70 %>
    <% end %>
  </div>

  <div class="col-md-10">
  
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <div class="affiliation-tagline-list">
        <h5 class="text-secondary">
          <%= render :partial => '/projects/project_organ', :collection => project.organizations, :as => :organization, locals: { project_id: project.id } %>
        </h5>
      </div>
      </div>
    </div>
  </div>
</div>
