.project_row[project]
  %h3.mb-0= link_to project.name, project, class: 'text-dark'
  %h4.h6.mt-0
    = succeed(',') do
      = link_to project.stream_name, project, class: 'text-dark'
    = link_to project.watershed, project, class: 'text-secondary'
  .row
    .col-3
      = link_to project do
        - if project.cover_photo.attached?
          = image_tag project.cover_photo, alt: "Photo of #{project}", class: 'rounded cover-photo-small'
        - else
          = image_tag 'missing_image_camera.png', alt: 'This project needs a nice cover photo', class: 'rounded cover-photo-small cover-photo-missing my-5'
    .col-9
      .affiliation-tagline-list
        %h5.text-secondary
          = render project.affiliations
