<% provide(:title, 'Project List') %>
<div class="container pt-3">
  <div class="row">
    <div class="col">
      <h2>LT-PBR Projects</h2>
    </div>
    <div class="col text-right">
      <%= link_to 'Map View', projects_map_path, class: "btn btn-success" %>
    </div>
  </div>
    <div class="col text-left">
      <%= link_to 'Name <i class="fa fa-fw fa-sort"></i>'.html_safe, projects_path(order: 'name'), class: "btn btn-success" %>
      <%= link_to 'Affiliation <i class="fa fa-fw fa-sort"></i>'.html_safe, projects_path(order: 'affiliation'), class: "btn btn-success" %>
      <%= link_to 'Stream <i class="fa fa-fw fa-sort"></i>'.html_safe, projects_path(order: 'stream'), class: "btn btn-success" %>
      <%= link_to 'Watershed<i class="fa fa-fw fa-sort"></i>'.html_safe, projects_path(order: 'watershed'), class: "btn btn-success" %>
    </div>
<%= render @projects%>
<%= paginate @projects%>
</div>