<% provide(:title, 'Project List') %>
<div class="container pt-3">
  <div class="row">
    <div class="col">
      <h2>BDA Projects</h2>
    </div>
    <div class="col text-right">
      <%= link_to 'Map View', projects_map_path, class: "btn btn-secondary" %>
    </div>
  </div>
  <% for project in @projects %>
    <hr>
    <div class="row">
      <div class="col-sm-2">
        <%= image_tag project.photo.url(:default), alt: "BDA on #{project.stream_name}", class: 'rounded', width: 100 %>
      </div>
      <div class="col-sm-7">
        <h3><%= link_to project.project_name, project, class: "text-dark" %></h3>
        <h5><%= link_to project.affiliation, project, class: "text-secondary" %></h5>
      </div>
      <div class="col-sm-3">
        <h5><%= link_to project.watershed, project, class: "text-dark" %></h5>
        <h5><%= link_to project.stream_name, project, class: "text-secondary" %></h5>
      </div>
    </div>
  <% end %>
</div>
