<% provide(:title, 'Project List') %>
<% name_sort = true%>
<% affiliation_sort = false%>
<% stream_name = false%>
<% watershed_sort = false%>
<%= name_sort%>
<div class="container pt-3">
  <div class="row">
    <div class="col">
      <h2>LT-PBR Projects</h2>
    </div>
    <div class="col text-right">
      <%= link_to 'Map View', projects_map_path, class: "btn btn-success" %>
    </div>
  </div>
    <div class="col text-left">
      Sort By:
      <%= link_to 'Name', projects_path(order: 'name'), class: "btn btn-success" %>
      <%= link_to 'Affiliation', projects_path(order: 'affiliation'), class: "btn btn-success" %>
      <%= link_to 'Stream', projects_path(order: 'stream'), class: "btn btn-success" %>
      <%= link_to 'Watershed', projects_path(order: 'watershed'), class: "btn btn-success" %>

    </div>
<%= render @projects%>

</div>