<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<% provide(:title, 'Project List') %>
<div class="container pt-3">
  <div class="row">
    <div class="col">
      <h1>LT-PBR Projects</h1>
      <br>
    </div>
    <div class="col text-right">
      <%= link_to 'Map View', projects_map_path, class: "btn btn-success", id: "filter-button" %>
    </div>
  </div>
    <div class="text-left">
      <%= link_to 'Name <i class="fa fa-fw fa-sort id="sortbutton"></i>'.html_safe, projects_path(order: 'name'), class: "btn btn-success", id: "filter-button"%>
      <%= link_to 'Organization <i class="fa fa-fw fa-sort"></i>'.html_safe, projects_path(order: 'organization'), class: "btn btn-success", id: "filter-button" %>
      <%= link_to 'Stream <i class="fa fa-fw fa-sort"></i>'.html_safe, projects_path(order: 'stream'), class: "btn btn-success", id: "filter-button" %>
      <%= link_to 'Watershed<i class="fa fa-fw fa-sort"></i>'.html_safe, projects_path(order: 'watershed'), class: "btn btn-success", id: "filter-button" %>
      <%= link_to 'Reset Filter', projects_path(order: 'normal'), class: "btn btn-secondary"%>

      <%= text_field :search_query, autofocus: true, autocomplete: 'off', placeholder: 'Search Projects...', class: 'form-control' %>
      <%= link_to 'Filter Projects', projects_path(order: :search_query), class: "btn btn-success", id: "filter-button"%>
    </div>
<%= render @projects%>
<hr>
<div class ="pagination">
<%= paginate @projects%>
</div>

</div>