- provide(:title, @project.stream_name)
.container
  %h1= @project.title
  %p.text-secondary.font-italic= @project.byline
  %hr/
  .row
    .col-lg
      - if @project.narrative.presence
        %p Narrative: #{ @project.narrative }
      %p Area(m): #{ @project.area }
      - if @project.maintenance
        %p Requires ongoing maintenance
      %p Primary Contact: #{ @project.primary_contact }
      - if @project.photo.file?
        = image_tag @project.photo.url(:default), alt: "Project on #{@project.stream_name}"
    .col-lg
      #map{ 'data-latitude' => "#{@project.lonlat.y}", 'data-longitude' => "#{@project.lonlat.x}" }
  - if user_signed_in?  && @project.author_id == current_user.id
    %hr/
    .btn-group
      = link_to 'Edit', edit_project_path(@project), class: 'btn btn-primary', title: "Edit #{@project}"
      = link_to 'Delete', @project, method: :delete, data: { confirm: "Delete #{@project.stream_name}?" }, class: 'btn btn-secondary', title: "Delete #{@project}"
