<% provide(:title, @project.stream_name) %>
<div class="container pt-5">
  <h1 class="display-4"><%= @project.name %></h1>
    <hr>
  <%= render :partial => 'project_organ', :collection => @project.organizations.order(:name), :as => :organization%>
    <% if user_signed_in? && (@project.author_id == current_user.id || current_user.admin_role?) %>
    <br>
    <div class="btn-group">
      <%= link_to 'Manage Organizations and Roles', project_affiliations_path(@project), class: 'btn btn-primary', title: "Edit #{@project}" %>
    </div>
    <div class="btn btn-question" id="manage-affiliations-help">
      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    </div>
    <% end %>
  <hr />
  <div class="row">
    <div class="col-md-7">
      
      <% if @project.photos[0].presence %>
        <div id="carousel-slideshow" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @project.photos.each_with_index do |photo, index| %>
              <li data-target="#carousel-slideshow" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"></li>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% @project.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= index == 0 ? 'active' : '' %>" style="background-image: url(<%= url_for(photo) %>);">
                <%= image_tag photo, alt: "Project on #{@project.stream_name}", class: 'shadow rounded' %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carousel-slideshow" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-slideshow" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      
      <% else %>
        <% if !@project.photos[0].presence%>
          <%= image_tag "/missing_image_camera.png", alt: "Project on #{@project.stream_name}", align: "center", :size => "260x180" %>
        <% else %>
          <%= image_tag @project.photos[0].presence || "/missing_image_camera.png", alt: "Project on #{@project.stream_name}", class: 'img-fluid mb-4 shadow rounded'%>
        <% end %>
      <% end %>
    
    </div>
    <div class="col-md-5">
      <label>State:</label>
      <% if @project.state_id.present? %>
        <p class="h5 mb-3"><%= State.find(@project.state_id).name %></p>
      <% else %>
        <p class="h5 mb-3">N/A</p>
      <% end %>
      <hr>

      <label>Stream Name:</label>
      <p class="h5 mb-3"><%= @project.stream_name %></p>
      <hr>

      <label>Watershed:</label>
      <p class="h5 mb-3"><%= @project.watershed %></p>
      <hr>

      <% if @project.url %>
        <label>Project URL:</label>
        <p class="h5 mb-3"><%= link_to "Link", @project.url%>&#8599;</p>
        <hr>
      <% end %>

      <label>Implementation Date:</label>
      <p class="h5 mb-3"><%= @project.implementation_date.strftime("%b" + ". " + "%d" + ", " + "%Y") %></p>
      <hr>

      <label>Treatment Length (m):</label>
      <p class="h5 mb-3"><%= @project.length %></p>
      <hr>

      <label>LT-PBR Structures:</label>
      <p class="h5 mb-3"><%= @project.number_of_structures %></p>
      <hr>
    </div>
  </div>

  <h5>Project Goals and Objectives</h5>
  <p><%= @project.narrative %></p>

  <h5>Structure Construction Elements</h5>
  <p><%= @project.structure_description %></p>

  <h5>All Photos</h5>
  <div class="container">
    <div class="row">
      <% @project.photos.each do |photo| %>
        <div class="col-4"><%= image_tag photo, alt: "Project on #{@project.stream_name}", class: 'img-fluid mb-4 shadow rounded' %></div>
      <% end %>
    </div>
  </div>

  <div data-latitude="<%= @project.lonlat.y %>" data-longitude="<%= @project.lonlat.x %>" id="project-map" class="rounded border border-secondary"></div>

  <% if user_signed_in? && (@project.author_id == current_user.id || current_user.admin_role?) %>
  <hr />
  <div class="btn-group">
    <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-primary', title: "Edit #{@project}" %>
    <%= link_to 'Delete', @project, method: :delete, data: { confirm: "Delete #{@project.stream_name}?" }, class: 'btn btn-secondary', title: "Delete #{@project}" %>
  </div>
  <% end %>

<div aria-hidden='true' class='modal fade' id='manage-affiliations-modal' role='dialog' tabindex='-1'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Manage Affiliated Organizations</h5>
        <button aria-label='Close' class='close' data-dismiss='modal' type='button'>
          <span aria-hidden='true'>×</span>
        </button>
      </div>
      <div class='modal-body'>
        Select which organizations are affiliated with this project and assign a role to each
        organization depending on their role in the project. 
      </div>
      <div class='modal-footer'>
        <button class='btn btn-secondary' data-dismiss='modal' type='button'>Close</button>
      </div>
    </div>
  </div>
</div>
