<% provide(:title, @project.stream_name) %>
<div class="container">
  <h1>
    <%= @project.title %>
  </h1>
  <p class="text-secondary font-italic">
    <%= @project.byline %>
  </p>
  <hr/>
  <div class="row">
    <div class="col-lg">
      <% if @project.narrative.presence %>
        <p>Narrative: #{ @project.narrative }</p>
      <% end %>
      <p>Area(m): #{ @project.area }</p>
      <p>Number of Structures: #{ @project.number_of_structures }</p>
      <p>Primary Contact: #{ @project.primary_contact }</p>
      <% if @project.photo.file? %>
        <%= image_tag @project.photo.url(:default), alt: "Project on #{@project.stream_name}", class: 'img-fluid project-photo' %>
      <% end %>
    </div>
    <div class="col-lg">
      <div data-latitude="<%= @project.lonlat.y %>" data-longitude="<%= @project.lonlat.x %>" id="map"></div>
    </div>
  </div>
  <% if user_signed_in? && @project.author_id == current_user.id %>
    <hr/>
    <div class="btn-group">
      <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-primary', title: "Edit #{@project}" %>
      <%= link_to 'Delete', @project, method: :delete, data: { confirm: "Delete #{@project.stream_name}?" }, class: 'btn btn-secondary', title: "Delete #{@project}" %>
    </div>
  <% end %>
</div>

