- provide(:title, @project.stream_name)
.container
  .row
    %p= @project.affiliation
    %p= @project.stream_name
    %p= @project.implementation_date
    %p= @project.narrative
    %p= @project.area
    %p= @project.maintenance
    %p= @project.primary_contact