<% provide(:title, @project.stream_name) %>
<div class="container pt-5">

 

  <h4 class="display-4"><%= @project.title %></h4>
  <p class="lead"><%= @project.affiliation %></p>
  <hr/>

  <div class="row">
    <div class="col-md-7">
      <% if @project.photo.file? %>
        <%= image_tag @project.photo.url(:default), alt: "Project on #{@project.stream_name}", class: 'img-fluid mb-4 rounded' %>
      <% end %>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <label>Stream Name:</label>
        <p class="form-control"><%= @project.stream_name %></p>
      </div>

      <div class="form-group">
        <label>Watershed:</label>
        <p class="form-control"><%= @project.watershed %></p>
      </div>

      <div class="form-group">
        <label>Implementation Date:</label>
        <p class="form-control"><%= @project.implementation_date %></p>
      </div>

      <div class="form-group">
        <label>Treatment Length:</label>
        <p class="form-control"><%= @project.area %></p>
      </div>

      <div class="form-group">
        <label>BDA Structures:</label>
        <p class="form-control"><%= @project.number_of_structures %></p>
      </div>
    </div>
  </div>

  <div class="form-group">
            <h5>Project Goals and Objectives</h5>
            <p><%= @project.narrative %></p>
        </div>
        <div class="form-group">
            <h5>Structure Construction Elements</h5>
            <p><%= @project.structure_description %></p>
        </div>


    <div data-latitude="<%= @project.lonlat.y %>" data-longitude="<%= @project.lonlat.x %>" id="map" class="rounded"></div>

  <% if user_signed_in? && @project.author_id == current_user.id %>
    <hr/>
    <div class="btn-group">
      <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-primary', title: "Edit #{@project}" %>
      <%= link_to 'Delete', @project, method: :delete, data: { confirm: "Delete #{@project.stream_name}?" }, class: 'btn btn-secondary', title: "Delete #{@project}" %>
    </div>
  <% end %>

</div>
