<% provide(:title, @project.stream_name) %>
<div class="container pt-5">
  <div class="row">
    <div class="col">
      <h1 class="display-4"><%= @project.name %></h1>
    </div>
    <div class="col text-right">
      <% if @project.editable_by?(current_user) %>
        <%= link_to 'Delete', @project, method: :delete, data: { confirm: "Delete #{@project.stream_name}?" }, class: 'btn btn-outline-danger mr-5', title: "Delete #{@project}" %>
        <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-outline-primary', title: "Edit #{@project}" %>
      <% end %>
    </div>
  </div><!-- /row -->
  <hr>
  <div class="row border-bottom mb-5 pb-2">
    <div class="col">
      <%= render partial: 'project_organ', collection: @project.organizations, as: :organization %>
    </div>
    <div class="col text-right">
      <% if @project.editable_by?(current_user) %>
        <div class="btn btn-question" id="manage-affiliations-help">
          <i class="fa fa-question-circle-o" aria-hidden="true"></i>
        </div>
        <%= link_to 'Manage Affiliations', project_affiliations_path(@project), class: 'btn btn-outline-primary' %>
      <% end %>
    </div>
  </div><!-- /row -->

  <div class="row">
    <div class="col-md-7">
      <% if @project.cover_photo.attached? %>
        <%= image_tag @project.cover_photo, class: 'cover-photo-large' %>
      <% end %>
      <% if @project.photos[0].presence %>
        <div id="carousel-slideshow" class="carousel slide" data-ride="carousel">

          <ol class="carousel-indicators">
            <% @project.photos.each_with_index do |photo, index| %>
              <% if !@project.cover_photo_id.nil? %>
                <li data-target="#carousel-slideshow" data-slide-to="<%= index %>" class="<%= photo.id == @project.cover_photo_id ? 'active' : '' %>"></li>
              <% else %>
                <li data-target="#carousel-slideshow" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"></li>
              <% end %>
            <% end %>
          </ol>

          <div class="carousel-inner">
            <% if !@project.cover_photo_id.nil? %>
              <% @project.photos.each do |photo| %>
                <div class="carousel-item <%= photo.id == @project.cover_photo_id ? 'active' : '' %>" style="background-image: url(<%= url_for(photo) %>);">
                  <%= image_tag photo, alt: "Project on #{@project.stream_name}", class: 'shadow rounded' %>
                </div>
              <% end %>
            <% else %>
              <% @project.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= index == 0 ? 'active' : '' %>" style="background-image: url(<%= url_for(photo) %>);">
                  <%= image_tag photo, alt: "Project on #{@project.stream_name}", class: 'shadow rounded' %>
                </div>
              <% end %>
            <% end %>
          </div>

          <a class="carousel-control-prev" href="#carousel-slideshow" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-slideshow" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>
      
      <% else %>
        <div class="missing-image-container">
          <%= image_tag "/missing_image_camera.png", alt: "Project on #{@project.stream_name}", class: "missing-image", align: "center", :size => "120x120" %>
        </div>
      <% end %>
    
    </div>
    <div class="col-md-5">
      <label>State:</label>
      <p class="h5 mb-3">
        <% if @project.state %>
          <%= link_to @project.state.name, @project.state %>
        <% else %>
          N/A
        <% end %>
      </p>
      <hr>

      <label>Stream Name:</label>
      <p class="h5 mb-3"><%= @project.stream_name %></p>
      <hr>

      <label>Watershed:</label>
      <p class="h5 mb-3"><%= @project.watershed %></p>
      <hr>

      <% if @project.url && @project.url =~ URI::regexp %>
        <label>Project URL:</label>
        <p class="h5 mb-3"><%= link_to "Link", @project.url %> &#8599;</p>
        <hr>
      <% end %>

      <label>Implementation Date:</label>
      <p class="h5 mb-3"><%= @project.implementation_date.strftime("%b" + ". " + "%d" + ", " + "%Y") %></p>
      <hr>

      <label>Treatment Length (m):</label>
      <p class="h5 mb-3"><%= @project.length %></p>
      <hr>

      <label>LT-PBR Structures:</label>
      <p class="h5 mb-3"><%= @project.number_of_structures %></p>
      <hr>
    </div>
  </div>

  <h5>Project Goals and Objectives</h5>
  <p><%= @project.narrative %></p>

  <h5>Structure Construction Elements</h5>
  <p><%= @project.structure_description %></p>

  <h5>All Photos</h5>
  <div class="container">
    <div class="row">
      <% @project.photos.each do |photo| %>
        <div class="col-4"><%= image_tag photo, alt: "Project on #{@project.stream_name}", class: 'img-fluid mb-4 shadow rounded' %></div>
      <% end %>
    </div>
  </div>

  <h5>Project Location</h5>
  <div data-latitude="<%= @project.lonlat.y %>" data-longitude="<%= @project.lonlat.x %>" id="project-map" class="rounded border border-secondary"></div>

<div aria-hidden='true' class='modal fade' id='manage-affiliations-modal' role='dialog' tabindex='-1'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Manage Affiliated Organizations</h5>
        <button aria-label='Close' class='close' data-dismiss='modal' type='button'>
          <span aria-hidden='true'>×</span>
        </button>
      </div>
      <div class='modal-body'>
        Select which organizations are affiliated with this project and assign a role to each
        organization depending on their role in the project. 
      </div>
      <div class='modal-footer'>
        <button class='btn btn-secondary' data-dismiss='modal' type='button'>Close</button>
      </div>
    </div>
  </div>
</div>
