<% provide(:title, @project.stream_name) %>
<div class="container pt-5">
  <h1 class="display-4"><%= @project.name %></h1>
  <h5 class="text-secondary">
    <%= raw(@project.affiliation.order(:affiliation_name).map{ |affiliation| 
    raw(link_to(affiliation.affiliation_name, affiliation_path(affiliation))) }.join(', ')) %>
  </h5>
  <hr />

  <div class="row">
    <div class="col-md-7">
      
      <% if @project.photos[0].presence %>
        <div id="carousel-slideshow" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @project.photos.each_with_index do |photo, index| %>
              <li data-target="#carousel-slideshow" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"></li>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% @project.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= index == 0 ? 'active' : '' %>" style="background-image: url(<%= url_for(photo) %>);">
                <%= image_tag photo, alt: "Project on #{@project.stream_name}", class: 'shadow rounded' %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carousel-slideshow" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-slideshow" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      
      <% else %>
        <%= image_tag @project.photos[0].presence || "missing_image.jpg", alt: "Project on #{@project.stream_name}", class: 'img-fluid mb-4 shadow rounded' %>
      <% end %>
    
    </div>
    <div class="col-md-5">
      <label>State:</label>
      <% if @project.state_id.present? %>
        <p class="h5 mb-3"><%= State.find(@project.state_id).name %></p>
      <% else %>
        <p class="h5 mb-3">N/A</p>
      <% end %>
      <hr>

      <label>Stream Name:</label>
      <p class="h5 mb-3"><%= @project.stream_name %></p>
      <hr>

      <label>Watershed:</label>
      <p class="h5 mb-3"><%= @project.watershed %></p>
      <hr>

      <label>Project URL:</label>
      <% url = @project.url %>

      <% html_url = url.gsub(URI.regexp, '<a href="\0">\0</a>').html_safe if url%>
      <% html_url = "No link provided" if !url%>
      <em><p class="h5 mb-3"><%= html_url %></p></em>
      <hr>

      <label>Implementation Date:</label>
      <p class="h5 mb-3"><%= @project.implementation_date.strftime("%b" + ". " + "%d" + ", " + "%Y") %></p>
      <hr>

      <label>Treatment Length (m):</label>
      <p class="h5 mb-3"><%= @project.length %></p>
      <hr>

      <label>LT-PBR Structures:</label>
      <p class="h5 mb-3"><%= @project.number_of_structures %></p>
      <hr>
    </div>
  </div>

  <h5>Project Goals and Objectives</h5>
  <p><%= @project.narrative %></p>

  <h5>Structure Construction Elements</h5>
  <p><%= @project.structure_description %></p>

  <h5>All Photos</h5>
  <div class="container">
    <div class="row">
      <% @project.photos.each do |photo| %>
        <div class="col-4"><%= image_tag photo, alt: "Project on #{@project.stream_name}", class: 'img-fluid mb-4 shadow rounded' %></div>
      <% end %>
    </div>
  </div>

  <div data-latitude="<%= @project.lonlat.y %>" data-longitude="<%= @project.lonlat.x %>" id="map" class="rounded border border-secondary"></div>

  <% if user_signed_in? && (@project.author_id == current_user.id || current_user.admin_role?) %>
  <hr />
  <div class="btn-group">
    <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-primary', title: "Edit #{@project}" %>
    <%= link_to 'Delete', @project, method: :delete, data: { confirm: "Delete #{@project.stream_name}?" }, class: 'btn btn-secondary', title: "Delete #{@project}" %>
  </div>
  <% end %>