- provide(:title, @project.stream_name)
.container
  %h1 Project on #{ @project.stream_name }
  %hr/
  %p Affiliation: #{ @project.affiliation }
  %p Implementation date: #{ @project.implementation_date.to_formatted_s(:long) }
  - if @project.narrative.presence
    %p Narrative: #{ @project.narrative }
  %p Area(m): #{ @project.area }
  %p Latitude: #{ @project.lonlat.y }
  %p Longitude: #{ @project.lonlat.x }
  %p Ongoing maintenance: #{ @project.maintenance }
  %p Primary Contact: #{ @project.primary_contact }

