- provide(:title, @project.stream_name)
.container
  %h1 Project on #{ @project.stream_name }
  %p.text-secondary.font-italic= @project.byline
  %hr/
  - if @project.narrative.presence
    %p Narrative: #{ @project.narrative }
  %p Area(m): #{ @project.area }
  %p Latitude: #{ @project.lonlat.y }
  %p Longitude: #{ @project.lonlat.x }
  - if @project.maintenance
    %p Requires ongoing maintenance
  %p Primary Contact: #{ @project.primary_contact }
  - if @project.photo.file?
    = image_tag @project.photo.url(:default), alt: "Project on #{@project.stream_name}"
