- provide(:title, @project.stream_name)
.container.pt-5.mb-5
  .row.border-bottom.mb-5
    .col
      %h1.display-4= @project.name
    .col-3.text-right
      - if @project.editable_by?(current_user)
        = link_to 'Delete', @project, method: :delete, data: { confirm: "Delete #{@project.stream_name}?" }, class: 'btn btn-outline-danger mr-5', title: "Delete #{@project}"
        = link_to 'Edit', edit_project_path(@project), class: 'btn btn-outline-primary', title: "Edit #{@project}"
  .row.border-bottom.mb-5
    .col
      = render @project.affiliations
    .col-3.text-right
      - if @project.editable_by?(current_user)
        = help_button('manage-affiliations-help')
        = link_to 'Manage Affiliations', project_affiliations_path(@project), class: 'btn btn-outline-primary'
  .row.border.mb-5
    .col-7
      - if @project.cover_photo.attached?
        #carousel-slideshow.carousel.slide{'data-ride': 'carousel'}
          %ol.carousel-indicators
            %li{class: 'active', 'data-slide-to': 0, 'data-target': '#carousel-slideshow'}
            - @project.project_photos_count.times do |i|
              %li{class: '', 'data-slide-to': i + 1, 'data-target': '#carousel-slideshow'}
          .carousel-inner
            %div{class: 'carousel-item active', style: "background-image: url(#{url_for(@project.cover_photo)});"}
              = image_tag @project.cover_photo, alt: @project.to_s, class: 'shadow rounded'
            - @project.project_photos.each do |project_photo|
              %div{class: 'carousel-item', style: "background-image: url(#{url_for(project_photo.image)});"}
                = image_tag project_photo.image, alt: @project.to_s, class: 'shadow rounded'
          %a.carousel-control-prev{'data-slide': 'prev', href: '#carousel-slideshow', role: 'button'}
            %span.carousel-control-prev-icon{'aria-hidden': 'true'}
            %span.sr-only Previous
          %a.carousel-control-next{'data-slide': 'next', href: '#carousel-slideshow', role: 'button'}
            %span.carousel-control-next-icon{'aria-hidden': 'true'}
            %span.sr-only Next
      - else
        = image_tag 'missing_image_camera.png', alt: 'This project needs a nice cover photo', class: 'rounded cover-photo-missing'
        - if @project.editable_by?(current_user)
          .text-center.mt-2
            = link_to('Add a cover photo', edit_project_cover_photo_path(@project), class: 'btn btn-outline-primary btn-sm')
    .col-5
      %label State:
      %p.h5.mb-3
        - if @project.state
          = link_to @project.state.name, @project.state
        - else
          N/A
      %hr/
      %label Stream Name:
      %p.h5.mb-3= @project.stream_name
      %hr/
      %label Watershed:
      %p.h5.mb-3= @project.watershed
      %hr/
      - if @project.url && @project.url =~ URI::regexp
        %label Project Web Site:
        %p.h5.mb-3
          = link_to "Link ↗", @project.url
        %hr/
      %label Implementation Date:
      %p.h5.mb-3= @project.implementation_date.strftime("%b" + ". " + "%d" + ", " + "%Y")
      %hr/
      %label Treatment Length (m):
      %p.h5.mb-3= @project.length
      %hr/
      %label LT-PBR Structures:
      %p.h5.mb-3= @project.number_of_structures
      %hr/
  %h5 Project Goals and Objectives
  %p= @project.narrative
  %h5 Structure Construction Elements
  %p= @project.structure_description
  %h5.mt-5 Project Photos
  .row
    .col-4
      - if @project.cover_photo.attached?
        = image_tag @project.cover_photo, alt: "Photo of #{@project}", class: 'img-fluid shadow rounded'
      - else
        = image_tag 'missing_image_camera.png', alt: 'This project needs a nice cover photo', class: 'img-fluid rounded shadow cover-photo-missing'
      %p.text-muted.my-0.text-center Cover Photo
      .text-center.mt-2
        = link_to('Modify cover photo', edit_project_cover_photo_path(@project), class: 'btn btn-outline-primary btn-sm') if @project.editable_by?(current_user)
    - @project.project_photos.each do |project_photo|
      .col-4.mb-5.project_photo[project_photo]
        = image_tag project_photo.image, class: 'photo'
        %p.text-muted.my-0.text-center= project_photo.date || '(no date)'
        %p.text-muted.my-0.text-center= project_photo.description.presence || '(no description)'
        - if @project.editable_by?(current_user)
          %p.text-center
            = link_to 'Edit', edit_project_project_photo_path(@project, project_photo), class: 'btn btn-outline-primary btn-sm mr-2', title: 'Edit photo'
            = link_to 'Remove', [@project, project_photo], method: :delete, data: { confirm: "Delete this photo?" }, class: 'btn btn-outline-danger btn-sm', title: "Delete photo"
    - if @project.editable_by?(current_user)
      .col-4
        %h4 Add a Photo
        = form_with model: [@project, ProjectPhoto.new], multipart: true, id: 'add_project_photo' do |f|
          - if @project.errors.any?
            #error_explanation
              %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
              %ul
                - @project.errors.full_messages.each do |message|
                  %li= message
          .form-group
            = f.label :image, 'Image File'
            = f.file_field :image, class: 'form-control-file form-control-sm'
            %small.form-text.text-muted Less than 50MB, please
          .form-group
            = f.label :date, 'Date of Photo'
            = f.date_field :date, class: 'form-control form-control-sm'
            %small.form-text.text-muted optional
          .form-group
            = f.label :description, 'Description'
            = f.text_field :description, class: 'form-control form-control-sm', placeholder: 'Optional. A brief caption for the photo.'
          .form-group
            = f.submit 'Upload', class: 'btn btn-primary btn-sm mt-2'
            %small.form-text.text-muted You can modify or remove photos after uploading.

  %h5.mt-5 Project Location
  #project-map.rounded.border.border-secondary{ 'data-latitude': @project.lonlat.y, 'data-longitude': @project.lonlat.x }

  #manage-affiliations-modal.modal.fade{'aria-hidden': 'true', role: 'dialog', tabindex: '-1'}
    .modal-dialog{role: 'document'}
      .modal-content
        .modal-header
          %h5.modal-title Manage Affiliated Organizations
          %button.close{'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button'}
            %span{'aria-hidden': 'true'} ×
        .modal-body
          Select which organizations are affiliated with this project and assign a role to each
          organization depending on their role in the project.
        .modal-footer
          %button.btn.btn-secondary{'data-dismiss': 'modal', type: 'button'} Close
