<% provide(:title, 'About') %>
<div class="banner">
  <%= image_tag 'bridge_banner.jpg' %>
</div>

<div class="d-flex" id="wrapper">
<div class="sidebar-container">
    <div class="vh-100" id="sidebar-wrapper">
        <div class="sidebar"><%=render 'about/aboutsidebar'%></div>
    </div>
    </div>

<div class="pull-left" id="page-content-wrapper">
<br>
  <div class="p-4 text-center bg-light">
    <h1 class="display-3 mb-2">About</h1>
  </div>
  <hr>
    <!--<p>This simple site was established to encourage communication among restoration practitioners utilizing <a href="https://lowtechpbr.restoration.usu.edu/" target=_blank>Low-Tech Processes-Based</a> restoration practices to restore riverscape health. Low-tech process-based restoration focuses on the use of structural elements that mimic the form and function of beaver dams (i.e., beaver dam analogs, BDAs) and woody debris accumulations (i.e., post assisted log structures, PALS). The restoration approach involves the strategic introduction of these structural elements using a design intended to amplify natural hydrologic, geomorphic, and biological processes that accelerate stream recovery trajectories. Fundamentally, the approach follows the tenants of process – based restoration outlined by <a href="https://academic.oup.com/bioscience/article/60/3/209/257006" target=_blank>(Beechie et al. 2010)</a>, tenants of ecological restoration proposed by <a href="https://doi.org/10.1111/j.1365-2664.2005.01004.x" target=_blank>Palmer et al. (2005)</a> and its extension as Low – Tech Process – Based Restoration (LT-PBR) by <a href="http://lowtechpbr.restoration.usu.edu/manual/" target=_blank>Wheaton et al. (2019)</a> that emphasized the use of structural treatments that can be built by hand.</p>
    -->
    <div id="1"><%= render 'about/aboutheader', header: "About LT-PBR Explorer", subtitle: ""%></div>

    <div id="1.1"><%= render 'about/aboutcontentblock', parheader: "LT-PBR Explorer",paragraph: "This simple site was established to encourage communication among restoration practitioners utilizing Low-Tech Processes-Based restoration practices to restore riverscape health. Low-tech process-based restoration focuses on the use of structural elements that mimic the form and function of beaver dams (i.e., beaver dam analogs, BDAs) and woody debris accumulations (i.e., post assisted log structures, PALS). The restoration approach involves the strategic introduction of these structural elements using a design intended to amplify natural hydrologic, geomorphic, and biological processes that accelerate stream recovery trajectories. Fundamentally, the approach follows the tenants of process – based restoration outlined by (Beechie et al. 2010) tenants of ecological restoration proposed by Palmer et al. (2005) and its extension as Low – Tech Process – Based Restoration (LT-PBR) by Wheaton et al. (2019) that emphasized the use of structural treatments that can be built by hand.",
    source_1: 'https://academic.oup.com/bioscience/article/60/3/209/257006', source_1_name: 'Low-Tech Processes-Based Restoration', 
    source_2: 'https://academic.oup.com/bioscience/article/60/3/209/257006', source_2_name: 'Beechie et al. 2010', 
    source_3: 'https://doi.org/10.1111/j.1365-2664.2005.01004.x', source_3_name: 'Palmer et al. 2005',
    source_4: 'http://lowtechpbr.restoration.usu.edu/manual/', source_4_name: 'Wheaton et al. 2019'
    %></div>
    <hr>
    <div id="1.2"><%= render 'about/aboutcontentblock', parheader: "How to use this site", paragraph:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'%></div>
    <hr>
    <div id="1.3"><%= render 'about/aboutcontentblock', parheader: "Website introduction and Operation", paragraph:'Short introductory video introducing the LT-PBR website, and covering the basics of sharing and discovering restoration projects.'%></div>
    <div class="text-center" id="instructional-video-wrapper" style="--aspect-ratio: 3 / 4;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Y2O7abHO538" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    

    <div id="2"><%= render 'about/aboutheader', header: "What LT-PBR is", subtitle: ""%></div>

    <div id="2.1"><%= render 'about/aboutcontentblock', parheader: "Introduction to LT-PBR", paragraph:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'%></div>
    <hr>
    <div id="2.2"><%= render 'about/aboutcontentblock', parheader: "Impacts of LT-PBR", paragraph:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'%></div>
    <hr>
    <div id="2.3"><%= render 'about/aboutcontentblock', parheader: "Legality of LT-PBR", paragraph:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'%></div>


    <div id="3"><%= render 'about/aboutheader', header: "Getting started with LT-PBR", subtitle: ""%></div>

    <div id="3.1"><%= render 'about/aboutcontentblock', parheader: "Necessary Tools", paragraph:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'%></div>
    <hr>
    <div id="3.2"><%= render 'about/aboutcontentblock', parheader: "Processes Involved", paragraph:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'%></div>
    <hr>
    <div id="3.3"><%= render 'about/aboutcontentblock', parheader: "Construction of LT-PBR", paragraph:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'%></div>
</div>
</div>
<script>
// Function that lets the sidebar scroll with the page when it reaches the top
$(window).scroll(function(e){ 
  var $el = $('.sidebar');
  var bottom = $('.banner').position().top+$('.banner').offset().top+$('.banner').outerHeight(true)
  var isPositionFixed = ($el.css('position') == 'fixed');
  if ($(this).scrollTop() > bottom-60 && !isPositionFixed){ 
    $el.css({'position': 'fixed', 'top': '0px', 'bottom': '0px', 'width': '20vw', 'overflow-y': 'auto', 'overflow-x': 'hidden', 'border-right': '1px solid rgb(219, 219, 219)'}); 
  }
  if ($(this).scrollTop() < bottom-60 && isPositionFixed){
    $el.css({'position': 'static', 'top': '0px', 'width': '20vw', 'overflow-y': 'auto'}); 
  } 
});
</script>