- provide(:title, 'Home')
#home-jumbotron.jumbotron.jumbotron-fluid
  .container.text-sm-center
    .title
      %h1 LT-PBR Explorer
      %p.lead.pb-2
        %em Share
        and
        %em Discover
        %a{:href => "https://lowtechpbr.restoration.usu.edu/", :target => "_blank"} Low-Tech Process-Based
        Restoration Projects
      = link_to 'View the Projects Map', map_projects_path, class: 'btn btn-primary btn-lg ml-3 mr-3'
      = link_to 'Browse the Projects List', projects_path, class: 'btn btn-primary btn-lg ml-3 mr-3'
.container.mb-5
  .card-deck.justify-content-center
    = render partial: 'home_stat_card', locals: { title: 'Projects', value: @project_count, text: 'Process-based riverscape restoration projects', ligature: 'construction'}
    = render partial: 'home_stat_card', locals: { title: 'Organizations', value: @organization_sum, text: 'Organizations contributing to the LT-PBR Explorer', ligature: 'location_city' }
    = render partial: 'home_stat_card', locals: { title: 'Length', value: "#{@project_total_length_mi}mi", text: 'Total channel length of riverscape restoration implementation', ligature: 'straighten' }
    = render partial: 'home_stat_card', locals: { title: 'Structures', value: @structure_sum, text: 'Beaver dam analog (BDA) and post-assisted log structures (PALS)', ligature: 'tactic' }
    = render partial: 'home_stat_card', locals: { title: 'States', value: @unique_state_count, text: 'States with LT-PBR Explorer projects', ligature: 'public' }

.container
  .row
    .card-deck
      .col-md-4
        .card.mb-4.shadow
          = image_tag 'home_about.jpg', class: "card-img-top"
          .card-body
            %h4.text-muted
              %i.fa.fa-info-circle{"aria-hidden" => "true"}
              About
            %p.card-text.text-muted Learn more about the LT-PBR Explorer site
            .d-flex.justify-content-between.align-items-center
              = link_to 'About', about_path, class: 'btn btn-primary'
      .col-md-4
        .card.mb-4.shadow
          = image_tag 'home_projects.jpg', class: "card-img-top"
          .card-body
            %h4.text-muted
              %i.fa.fa-map-marker{"aria-hidden" => "true"}
              Projects
            %p.card-text.text-muted Explore the LT-PBR restoration project map
            .d-flex.justify-content-between.align-items-center
              = link_to 'Projects', map_projects_path, class: 'btn btn-primary'
      .col-md-4
        .card.mb-4.shadow
          = image_tag 'home_signup.jpg', class: "card-img-top"
          .card-body
            %h4.text-muted
              %i.fa.fa-user-circle-o{"aria-hidden" => "true"}
              My Project
            %p.card-text.text-muted Sign up or login to add and edit your project
            .d-flex.justify-content-between.align-items-center
              = link_to 'Sign Up', new_user_session_path, class: 'btn btn-primary'

.container
  %hr/
  %p.lead.text-muted.text-center Project supported by:
  .row
    - [{ name: 'Eco Logical Research', url: 'https://www.eco-logical-research.com', logo_filename: 'logo_ELR.png' }, { name: 'OWEB', url: 'https://www.oregon.gov/oweb/Pages/index.aspx', logo_filename: 'logo_OWEB.png' }, { name: 'OSU Cascades', url: 'https://osucascades.edu', logo_filename: 'logo_OSU.png' }, { name: 'OR NWC', url: 'http://www.oregonwatersheds.org', logo_filename: 'logo_WC.png' }, { name: 'Anabranch Solutions', url: 'http://www.anabranchsolutions.com', logo_filename: 'logo_AS.png' }].each do |supporter|
      .col
        %a{:href => "#{supporter[:url]}"}
          = image_tag supporter[:logo_filename], class: "mx-auto d-block", height: 100
        %p.text-sm-center.text-muted= supporter[:name]
