<% provide(:title, 'Home') %>
<div class="banner">
  <%= image_tag 'parrish_banner.jpg' %>
</div>
<div class="jumbotron jumbotron-fluid text-muted">
  <div class="container text-sm-center">
    <h3 class="display-2" id="home-header">LT-PBR EXPLORER</h3>
    <p class="lead pb-2"><em>Share</em> and <em>Discover</em> <a href="https://lowtechpbr.restoration.usu.edu/" target=_blank>Low-Tech Process-Based</a> Restoration Projects</p>
    <%= link_to 'View the Projects Map', projects_map_path, class: 'btn btn-primary btn-lg ml-3 mr-3' %>
    <%= link_to 'Browse the Projects List', projects_path, class: 'btn btn-primary btn-lg ml-3 mr-3' %>
    <hr>
    <!--
    <p class="lead text-muted"><span class="badge badge-success"><%= @project_count %> </span> projects, <span class="badge badge-success"> <%= @structure_sum %> </span> restoration structures, and <span class="badge badge-success"> <%= @project_total_length_km %> </span> kilometers of process-based riverscape restoration and counting.</p>
    -->
    <!-- STATS CARDS -->
    <br>
    <div class="card-deck justify-content-center">   
      <%= render :partial => 'home_stat_card', locals: {
        title: "Projects",
        value: @project_count, 
        text: "Process-based riverscape restoration projects",
        icon: "fas fa-map-marker"
      }%>
      <%= render :partial => 'home_stat_card', locals: {
        title: "Organizations",
        value: @organization_sum, 
        text: "Number of Organizations represented on BDA-Explorer",
        icon: "fas fa-building"
      }%>
      <%= render :partial => 'home_stat_card', locals: {
        title: "Length",
        value: @project_total_length_km.to_s + "km", 
        text: "Total channel length of riverscape restoration implementation",
        icon: "fas fa-ruler"
      }%>
      <%= render :partial => 'home_stat_card', locals: {
        title: "Structures",
        value: @structure_sum, 
        text: "Beaver dam analog (BDA) and post-assisted log structures (PALS)",
        icon: "fab fa-pagelines"
      }%>
      <%= render :partial => 'home_stat_card', locals: {
        title: "States",
        value: @unique_state_count, 
        text: "Number of unique US states containing BDA-Explorer projects",
        icon: "fas fa-map"
      }%>    
    </div>
  </div>
</div>
<hr>
<!-- CARDS -->
<br>
<div class="container">
  <div class="row">
    <div class="card-deck">
      <!-- ABOUT  -->
      <div class="col-md-4">
        <div class="card mb-4 shadow">
          <%= image_tag 'home_about.jpg', class: "card-img-top" %>
          <div class="card-body">
            <h4 class="text-muted"><i class="fa fa-info-circle" aria-hidden="true"></i> About</h4>
            <p class="card-text text-muted">Learn more about the LT-PBR Explorer site</p>
            <div class="d-flex justify-content-between align-items-center">
              <%= link_to 'About', about_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
      <!-- PROJECTS -->
      <div class="col-md-4">
        <div class="card mb-4 shadow">
          <%= image_tag 'home_projects.jpg', class: "card-img-top" %>
          <div class="card-body">
            <h4 class="text-muted"><i class="fa fa-map-marker" aria-hidden="true"></i> Projects</h4>
            <p class="card-text text-muted">Explore the LT-PBR restoration project map</p>
            <div class="d-flex justify-content-between align-items-center">
              <%= link_to 'Projects', projects_map_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
      <!-- ABOUT -->
      <div class="col-md-4">
        <div class="card mb-4 shadow">
          <%= image_tag 'home_signup.jpg', class: "card-img-top" %>
          <div class="card-body">
            <h4 class="text-muted"><i class="fa fa-user-circle-o" aria-hidden="true"></i> My Project</h4>
            <p class="card-text text-muted">Sign up or login to add and edit your project</p>
            <div class="d-flex justify-content-between align-items-center">
              <%= link_to 'Sign Up', new_user_session_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- LOGOS -->
<div class="container">
  <hr>
  <p class="lead text-muted text-center">Project supported by:</p>
  <div class="row">
    <% [
        { name: 'Eco Logical Research', url: 'https://www.eco-logical-research.com', logo_filename: 'logo_ELR.png' },
        { name: 'OWEB', url: 'https://www.oregon.gov/oweb/Pages/index.aspx', logo_filename: 'logo_OWEB.png' },
        { name: 'OSU Cascades', url: 'https://osucascades.edu', logo_filename: 'logo_OSU.png' },
        { name: 'OR NWC', url: 'http://www.oregonwatersheds.org', logo_filename: 'logo_WC.png' },
        { name: 'Anabranch Solutions', url: 'http://www.anabranchsolutions.com', logo_filename: 'logo_AS.png' }
      ].each do |supporter| %>
    <div class="col">
      <a href="<%= supporter[:url] %>">
        <%= image_tag supporter[:logo_filename], class: "mx-auto d-block", height: 100 %>
      </a>
      <p class="text-sm-center text-muted"><%= supporter[:name] %></p>
    </div>
    <% end %>
  </div>
</div>