- provide(:title, 'Home')
.container-fluid.center-text
  .row.row-sm
    %h1 Oregon Beaver Dam Analogue Explorer
  .row
    .banner
      = image_tag 'banner.jpg'
  .row
    .welcome
      %h2 Welcome
      %p Beaver have long been recognized as a fundamental component of hydrologic, geomorphic, and biotic processes within aquatic systems, and their propensity to build dams alters stream and riparian structure and function to the benefit of an array of aquatic and terrestrial species. The use of beaver dam analogs (BDAs) or structures designed to mimic the form and function of natural beaver dams is increasingly being embraced by restoration practitioners as a cost-effective means to restore stream and riparian function. This site was established to document BDA project locations and facilitate communication among restoration practitioners regarding project outcomes and lessons learned.
      %p If you are currently involved with a BDA restoration project, please take a minute to sign in and add basic project information to the site. Once added, information about your project can be viewed by the restoration community which will help to guide the design and implementation of future BDA projects. In addition, many of the projects identified here will be included in a BDA monitoring study during 2018 and 2019. The monitoring study is sponsored by the Oregon Watershed Enhancement Board (OWEB) and is being designed to track BDA project outcomes throughout Central and Eastern Oregon.
  %hr
  .row
    .col-lg-4
      %h2 About BDAs
      = image_tag 'about-bdas.jpg'
      %p What are BDAs and how are they being used in stream and wetland restoration.
      %p= link_to 'Learn More', about_path, class: 'btn btn-primary'
    .col-lg-4
      %h2 Projects
      = image_tag 'projects-map.jpg'
      %p View existing BDA restoration projects throughout Oregon.
      %p= link_to 'View Map', projects_map_path, class: 'btn btn-primary'
    .col-lg-4
      %h2 Sign Up
      = image_tag 'sign-in.jpg'
      %p Register for an account to add and edit your BDA restoration project
      %p= link_to 'Sign Up', new_user_session_path, class: 'btn btn-primary'
