<% provide(:title, 'Home') %>
<div class="banner">
  <%= image_tag 'parrish_banner.jpg' %>
</div>
<div class="jumbotron jumbotron-fluid text-muted">
  <div class="container text-sm-center">
    <h3 class="display-3">LT-PBR EXPLORER</h3>
    <p class="lead pb-2">A place to <em>share</em> and <em>discover</em> <a href="https://lowtechpbr.restoration.usu.edu/" target=_blank>Low-Tech Process-Based</a> Riverscape Restoration Projects</p>
    <%= link_to 'View the Projects Map', projects_map_path, class: 'btn btn-outline-primary btn-lg' %>
  </div>
</div>
<!-- CARDS -->
<div class="container">
  <div class="row">
    <div class="card-deck">
      <!-- ABOUT -->
      <div class="col-md-4">
        <div class="card mb-4 shadow">
          <%= image_tag 'home_about.jpg', class: "card-img-top" %>
          <div class="card-body">
            <h4 class="text-muted">About</h4>
            <p class="card-text text-muted">Learn more about the LT-PBR Explorer site</p>
            <div class="d-flex justify-content-between align-items-center">
              <%= link_to 'About', about_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
      <!-- PROJECTS -->
      <div class="col-md-4">
        <div class="card mb-4 shadow">
          <%= image_tag 'home_projects.jpg', class: "card-img-top" %>
          <div class="card-body">
            <h4 class="text-muted">Projects</h4>
            <p class="card-text text-muted">Explore LT-PBR restoration projects</p>
            <div class="d-flex justify-content-between align-items-center">
              <%= link_to 'Projects', projects_map_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
      <!-- ABOUT -->
      <div class="col-md-4">
        <div class="card mb-4 shadow">
          <%= image_tag 'home_signup.jpg', class: "card-img-top" %>
          <div class="card-body">
            <h4 class="text-muted">Add Project</h4>
            <p class="card-text text-muted">Sign up or login to add your projects to the map</p>
            <div class="d-flex justify-content-between align-items-center">
              <%= link_to 'Sign Up', new_user_session_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- LOGOS -->
<div class="container">
  <hr>
  <p class="lead text-muted text-center">Project supported by:</p>
  <div class="row">
    <% [
        { name: 'Eco Logical Research', url: 'https://www.eco-logical-research.com', logo_filename: 'logo_ELR.png' },
        { name: 'OWEB', url: 'https://www.oregon.gov/oweb/Pages/index.aspx', logo_filename: 'logo_OWEB.png' },
        { name: 'OSU Cascades', url: 'https://osucascades.edu', logo_filename: 'logo_OSU.png' },
        { name: 'OR NWC', url: 'http://www.oregonwatersheds.org', logo_filename: 'logo_WC.png' },
        { name: 'Anabranch Solutions', url: 'http://www.anabranchsolutions.com', logo_filename: 'logo_AS.png' }
      ].each do |supporter| %>
    <div class="col">
      <a href="<%= supporter[:url] %>">
        <%= image_tag supporter[:logo_filename], class: "mx-auto d-block", height: 100 %>
      </a>
      <p class="text-sm-center text-muted"><%= supporter[:name] %></p>
    </div>
    <% end %>
  </div>
</div>