<% provide(:title, 'Sign In') %>
<div class="container pt-5">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2>Sign In</h2>
      <hr />
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.label :login, 'Username' %>
      <%= f.text_field :login, autofocus: true, autocomplete: 'off', class: 'form-control' %>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
      <% if devise_mapping.rememberable? %>
      <div class="remember-me">
        <%= f.check_box :remember_me, class: 'form-checkbox' %>
        <%= f.label :remember_me %>
      </div>
      <% end %>
      <div class="actions">
        <%= f.submit 'Sign In', class: 'btn confirm-btn' %>
      </div>
      <% end %>
      <hr />
      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>