
<div class="content-display">
    <h2 class="paragraph-header"><%=parheader%></h2>
    <p class="main-content"><%=paragraph%></p>
    <div class = "d-flex flex-row">
        <a class="t-1 mb-0 pr-2" href=<%=source_1 = source_1 if local_assigns[:local].nil?%>><%=source_1_name = source_1_name if local_assigns[:local].nil? %></a>
        <a class="t-1 mb-0 pr-2" href=<%=source_2 = source_2 if local_assigns[:local].nil?%>><%=source_2_name = source_2_name if local_assigns[:local].nil? %></a>
        <a class="t-1 mb-0 pr-2" href=<%=source_3 = source_3 if local_assigns[:local].nil?%>><%=source_3_name = source_3_name if local_assigns[:local].nil? %></a>
        <a class="t-1 mb-0 pr-2" href=<%=source_4 = source_4 if local_assigns[:local].nil?%>><%=source_4_name = source_4_name if local_assigns[:local].nil? %></a>
        <a class="t-1 mb-0 pr-2" href=<%=source_5 = source_5 if local_assigns[:local].nil?%>><%=source_5_name = source_5_name if local_assigns[:local].nil? %></a>
</div>