<%= form_for @organization do |f| %>

<%= f.label :name, 'Organization Name' %>
<%= f.text_field :name, autofocus: true, autocomplete: 'off', placeholder: 'e.g. NOAA', class: 'form-control' %>

<%= f.label :name, 'Organization Description' %>
<%= f.text_field :description, autofocus: true, autocomplete: 'off', placeholder: 'e.g. Description Here', class: 'form-control' %>

<%= f.label :name, 'Organization Contact' %>
<%= f.text_field :contact, autofocus: true, autocomplete: 'off', placeholder: 'e.g. Contact Here', class: 'form-control' %>

<%= f.label :name, 'Organization Website' %>
<%= f.text_field :website, autofocus: true, autocomplete: 'off', placeholder: 'e.g. Website Here', class: 'form-control' %>

<%= f.label :name, 'Organization Image' %>
<%= f.file_field :icon, autofocus: true, autocomplete: 'off', placeholder: 'e.g. Image Icon', class: 'form-control' %>

  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@organization.errors.count, "error")} prohibited this organization from being saved:" %>
      </h2>
      <ul>
        <% @organization.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>
