= form_for @organization do |f|
  - if @organization.errors.any?
    #error_explanation
      %h2= "#{pluralize(@organization.errors.count, "error")} prohibited this organization from being saved:"
      %ul
        - @organization.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :name
    = f.text_field :name, autofocus: true, placeholder: 'e.g. NOAA', class: 'form-control'
  .form-group
    = f.label :description
    = f.text_field :description, placeholder: 'Describe the organization in one or two sentences.', class: 'form-control'
  .form-group
    = f.label :contact
    = f.text_field :contact, placeholder: 'Name, email, phone or web site', class: 'form-control'
  .form-group
    = f.label :website
    = f.text_field :website, placeholder: 'https://example.org', class: 'form-control'
  .form-group
    = f.label :logo
    = f.file_field :logo, class: 'form-control-file'
    %small.form-text.text-muted Square logos at least 100x100 pixels are best.
  .form-group.actions
    = f.submit 'Save', class: 'btn btn-primary'
