
<% provide(:title, @organization.name) %>
<div class="container pt-5">
  <div class="col text-right">
    <%= link_to 'Organizations List', organizations_path, class: "btn btn-success", id: "filter-button" %>
  </div>
  <div class="d-flex align-items-center wrap h-100">
    <%= image_tag(@organization.icon, class: 'affiliation-icon-list') if @organization.icon.attached? %>
    <h1 class="display-4"><%= @organization.name %></h1>
  </div>
  <br>
  <div class="row">
    <div class="col-md-5">
      <label>Organization Contact:</label>
      <p class="h5 mb-3"><%= @organization.contact%></p>
      <hr>

      <label>Organization Website:</label>
      <% url = @organization.website%>
      <% html_url = url.gsub(URI.regexp, '<a href="\0">\0</a>').html_safe if url%>
      <% html_url = "No link provided" if !url%>
      <em><p class="h5 mb-3"><%= html_url %></p></em>
      <hr>
      
    </div>
  </div>

  <h5>Organization Description</h5>
  <p><%= @organization.description %></p>
  <hr>
  
  <%= @organization_projects_structures %>

  <%= line_chart [
    {name: "Total Projects", data: @data},
   ], 
   stacked: true, download: true, adapter: "chartjs" %>
  <%= line_chart [ 
    {name: "Number of Structures", data: @data2},
    {name: "Length", data: @data3},
   ],
   stacked: true, download: true, adapter: "chartjs"  %>

<canvas id="myChart" width="400" height="200"></canvas>
   
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%= @data.keys.to_json.html_safe%>,
        datasets: [{
            label: 'Number of Projects',
            data: <%= @data.values.to_json.html_safe%>,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>