
<% provide(:title, @organization.name) %>
<div class="container pt-5">
  <div class="col text-right">
    <%= link_to 'Organizations List', organizations_path, class: "btn btn-success", id: "filter-button" %>
  </div>
  <div class="d-flex align-items-center wrap h-100">
    <%= image_tag(@organization.icon, class: 'affiliation-icon-list') if @organization.icon.attached? %>
    <h1 class="display-4"><%= @organization.name %></h1>
  </div>
  <br>
  <div class="row">
    <div class="col-md-5">
      <label>Organization Contact:</label>
      <p class="h5 mb-3"><%= @organization.contact%></p>
      <hr>

      <label>Organization Website:</label>
      <% url = @organization.website%>
      <% html_url = url.gsub(URI.regexp, '<a href="\0">\0</a>').html_safe if url%>
      <% html_url = "No link provided" if !url%>
      <em><p class="h5 mb-3"><%= html_url %></p></em>
      <hr>
      
    </div>
  </div>

  <h5>Organization Description</h5>
  <p><%= @organization.description %></p>
  <hr>
  
  <%#= @organization_projects_structures %>

  <%#= line_chart [
    {name: "Total Projects", data: @data},
   ], 
   stacked: true, download: true, adapter: "chartjs" %>
  <%#= line_chart [ 
    {name: "Number of Structures", data: @data2},
    {name: "Length", data: @data3},
   ],
   stacked: true, download: true, adapter: "chartjs"  %>

<%= @chart_project_count%>
<hr>
<%= @charts%>

<canvas id="myChart" width="400" height="200"></canvas>
<script>

const ctx = document.getElementById('myChart').getContext('2d');

const nullDupes = data => data.map((x, i) => data[i - 1] === x ? null : x);
const data = <%= @chart_project_count.keys.to_json.html_safe%>

const myChart = new Chart(ctx, {
    type: 'line',
    spanGaps: true,
    data: {
        labels: data,
        datasets: [{
          label: 'Number of Projects',
          data: nullDupes(<%= @chart_project_count.values.to_json.html_safe%>),
          borderColor: [
              'rgba(78, 255, 132, 1)',
          ],
          borderWidth: 2,
          yAxisID: "y1",
          spanGaps: true,
          grace: '50%'
        },
        {
          label: 'Number of Structures',
          data: nullDupes(<%= @chart_structure_count.values.to_json.html_safe%>),
          borderColor: [
              'rgba(255, 99, 132, 1)',
          ],
          borderWidth: 2,
          spanGaps: true,
        },
        {
          label: 'Total Restorative Length',
          data: nullDupes(<%= @chart_total_length.values.to_json.html_safe%>),
          borderColor: [
              'rgba(4, 99, 132, 1)',
          ],
          borderWidth: 2,
          spanGaps: true,
        }]
    },
    options: {
      scales: {
        xAxis: {
            ticks: {
                maxTicksLimit: 5
            }
        },
        y: {
          type: 'linear',
          display: true,
          beginAtZero: true,
          grace: '50%'
        },
        y1: {
          type: 'linear',
          display: true,
          position: 'right',
          beginAtZero: true,
          grace: '50%'
        }
      }
    }
});

</script>