- provide(:title, @organization.name)
.container.pt-5
  .col.text-right
    = link_to '« Organizations List', organizations_path, class: 'btn btn-link'
    - if current_user && current_user.admin_role?
      = link_to 'Edit', edit_organization_path(@organization), class: 'btn btn-outline-secondary ml-5'
      = link_to 'Delete', @organization, class: 'btn btn-outline-danger ml-2', method: :delete, data: { confirm: 'Are you sure?' }
  .d-flex.align-items-center.wrap.h-100
    = image_tag(@organization.logo, class: 'affiliation-logo-list') if @organization.logo.attached?
    %h1.display-4= @organization.name
  %br/
  .row
    .col-md-6
      %p Organization Website:
      - if @organization.website
        %h5.mb-3= link_to @organization.website, @organization.website
      - else
        %p No link provided
      %hr/
      %label Organization Contact:
      %p.h5.mb-3= @organization.contact
      %hr/
  %h5 Organization Description
  %p= @organization.description
  %hr/
  .card-deck.justify-content-center.h-100
    = render partial: 'shared/stat_card', locals: { title: 'Projects', value: @project_count, text: 'Process-based riverscape restoration projects', ligature: 'construction'}
    = render partial: 'shared/stat_card', locals: { title: 'Length', value: "#{@project_total_length_mi}mi", text: 'Total channel length of riverscape restoration implementation', ligature: 'straighten' }
    = render partial: 'shared/stat_card', locals: { title: 'Structures', value: @structure_sum, text: 'Beaver dam analog (BDA) and post-assisted log structures (PALS)', ligature: 'tactic' }
  %h3.lead.text-center.mt-5 Graphing #{@organization.name}'s Projects from #{@chart_project_count.keys[0]} Onward
  %canvas#myChart{height: '200', width: '400'}
  .container.mt-5
    %h2 Affiliated Projects
    = render @organization_projects
:javascript
  var ctx = document.getElementById('myChart').getContext('2d');

  var nullDupes = data => data.map((x, i) => data[i - 1] === x ? null : x);
  var data = #{@chart_project_count.keys.to_json.html_safe}

  var myChart = new Chart(ctx, {
      type: 'line',
      spanGaps: true,
      data: {
          labels: data,
          datasets: [{
            label: 'Number of Projects',
            data: nullDupes(#{@chart_project_count.values.to_json.html_safe}),
            borderColor: [
                'rgba(78, 255, 132, 1)',
            ],
            borderWidth: 2,
            yAxisID: "y1",
            spanGaps: true,
            grace: '50%'
          },
          {
            label: 'Number of Structures',
            data: nullDupes(#{@chart_structure_count.values.to_json.html_safe}),
            borderColor: [
                'rgba(255, 99, 132, 1)',
            ],
            borderWidth: 2,
            spanGaps: true,
          },
          {
            label: 'Total Riverscape Length (km)',
            data: nullDupes(#{@chart_total_length.values.to_json.html_safe}),
            borderColor: [
                'rgba(4, 99, 132, 1)',
            ],
            yAxisID: "y1",
            borderWidth: 2,
            spanGaps: true,
          }]
      },
      options: {
        scales: {
          xAxis: {
              ticks: {
                  maxTicksLimit: 8
              },
          },
          y: {
            type: 'linear',
            display: true,
            beginAtZero: true,
            grace: '50%'
          },
          y1: {
            type: 'linear',
            display: true,
            position: 'right',
            beginAtZero: true,
            grace: '50%'
          }
        }
      }
  });
