- provide(:title, 'Edit Project Photos')
.container.pt-5
  .row.mb-4
    .col
      %h2 #{@project} Photos
    .col-2.text-right
      = link_to '« Cancel', project_path(@project)

  %h3.text-muted.text-center= pluralize(@project.project_photos_count, 'photo')
  .row.mt-5
    - @project.project_photos.each do |project_photo|
      .col-4.mb-5
        = image_tag project_photo.image, class: 'photo'
        %p.text-muted.my-0.text-center= project_photo.date || '(no date)'
        %p.text-muted.my-0.text-center= project_photo.description.present? ? truncate(project_photo.description, size: 20) : 'no description'
        %p.text-center
          = link_to 'Edit', [@project, project_photo], class: 'btn btn-outline-primary btn-sm mr-2', title: 'Edit photo'
          = link_to 'Remove', [@project, project_photo], method: :delete, data: { confirm: "Delete this photo?" }, class: 'btn btn-outline-danger btn-sm', title: "Delete photo"
    .col-4
      %h4 Add a Photo
      = form_with model: [@project, @project_photo], multipart: true do |f|
        - if @project.errors.any?
          #error_explanation
            %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
            %ul
              - @project.errors.full_messages.each do |message|
                %li= message
        .form-group
          = f.label :image, 'Image File'
          = f.file_field :image, class: 'form-control-file form-control-sm'
        .form-group
          = f.label :date, 'Date of Photo'
          = f.date_field :date, class: 'form-control form-control-sm'
          %small.form-text.text-muted optional
        .form-group
          = f.label :description, 'Description'
          = f.text_field :description, class: 'form-control form-control-sm', placeholder: 'Optional. A brief description.'
        .form-group
          = f.submit 'Upload', class: 'btn btn-primary btn-sm mt-2'
