%nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
  .navbar-brand= link_to 'BDAdb', root_path, title: 'BDAdb home page'
  %button.navbar-toggler{"aria-controls" => "navbarsExample03", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarsExample03", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarsExample03.collapse.navbar-collapse.justify-content-end
    %ul.navbar-nav
      - if user_signed_in?
        .dropdown
          %button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            = current_user.username
          .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
            .dropdown-item
              = link_to 'My Projects', user_path
            .dropdown-item
              = link_to 'Edit Profile', edit_user_registration_path
            .dropdown-item
              = link_to 'Sign Out', destroy_user_session_path, method: :delete

      - else
        %li.nav-item.active
          .nav-link= link_to 'Sign In', new_user_session_path
          %span.sr-only (current)
        %li.nav-item.active
          .nav-link= link_to 'Sign Up', new_user_registration_path