<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <%= link_to root_path, :class => 'logo', title: 'BDA Explorer home' do %>
    BDA
    <span id="logo-highlight">explorer</span>
  <% end %>
  <button aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#nav" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="nav">
    <ul class="navbar-nav">
      <li class="nav-item active">
          <div class="nav-link">
            <%= link_to 'Projects', projects_map_path %>
          </div>
          <span class="sr-only">(current)</span>
        </li>
      <% if user_signed_in? %>
        <li>
          <%= link_to 'New Project', new_project_path, class: 'btn btn-outline-primary my-2 my-sm-0 new-project-btn' %>
        </li>
        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="http://example.com" id="dropdown">
            <%= current_user.username %>
          </a>
          <div aria-labelledby="dropdown" class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-item">
              <%= link_to 'My Projects', user_path(current_user) %>
            </div>
            <div class="dropdown-item">
              <%= link_to 'Edit Profile', edit_user_registration_path %>
            </div>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item">
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
            </div>
          </div>
        </li>
      <% else %>
        <li class="nav-item active">
          <div class="nav-link">
            <%= link_to 'Sign In', new_user_session_path %>
          </div>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item active">
          <div class="nav-link">
            <%= link_to 'Sign Up', new_user_registration_path %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>