%nav.navbar.navbar-expand-lg.navbar-dark.navbar-fixed-top.sticky
  = link_to root_path, class: 'navbar-brand', title: 'LT-PBR Explorer home' do
    = image_tag 'icon_navbar.svg'
    LT-PBR
    %span.navbar-brand-secondary explorer
  %button.navbar-toggler{'aria-controls': 'nav', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation', 'data-target': '#nav', 'data-toggle': 'collapse', type: 'button'}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse.justify-content-end
    %ul.navbar-nav
      %li.nav-item
        = link_to 'About', about_path, class: 'nav-link'
      %li.nav-item
        = link_to 'Organizations', organizations_path, class: 'nav-link'
      %li.nav-item
        = link_to 'States', states_path, class: 'nav-link'
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle{'aria-expanded': 'false', 'aria-haspopup': 'true', 'data-toggle': 'dropdown', href: '#'} Projects
        .dropdown-menu.dropdown-menu-right{'aria-labelledby': 'dropdown'}
          = link_to 'Projects Map', map_projects_path, class: 'dropdown-item'
          = link_to 'Projects List', projects_path, class: 'dropdown-item'
        %span.sr-only (current)
      %li= link_to 'Add a Project', new_project_path, class: 'btn btn-sm btn-secondary mt-1'
      - if user_signed_in?
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{'aria-expanded': 'false', 'aria-haspopup': 'true', 'data-toggle': 'dropdown', href: '#'}= current_user.name
          .dropdown-menu.dropdown-menu-right{'aria-labelledby': 'dropdown'}
            = link_to 'My Projects', user_path(current_user), class: 'dropdown-item'
            = link_to 'Edit Profile', edit_user_registration_path, class: 'dropdown-item'
            .dropdown-divider
            = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
      - else
        %li.nav-item
          = link_to 'Sign In', new_user_session_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Sign Up', new_user_registration_path, class: 'nav-link'
