<!DOCTYPE html>
<html>

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>
    <%= full_title(yield(:title)) %>
  </title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" rel="stylesheet">
  <script src="https://use.fontawesome.com/2aff377185.js"></script>
  <link rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css' crossorigin='' />
  <script src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' crossorigin=''></script>
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet-geosearch@3.6.0/dist/geosearch.css"
  />
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet-geosearch@3.6.0/assets/css/leaflet.css"
  />
  <script src="https://unpkg.com/leaflet-geosearch@3.6.0/dist/geosearch.umd.js"></script>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="<%= controller.action_name %>">
  <%= include_gon(:init => true) %>
  <%= render 'layouts/nav' %>
  <%= render 'layouts/messages' %>
  <%= yield %>
  <%= render 'layouts/footer' unless @disable_footer %>
</body>

</html>
